<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pai8.ke">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="734" />
        <!-- 高德key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ffce336496fa8d9aeac52afaac7ccefd" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyTranslucentTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.takeaway.ui.TakeawayActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.takeaway.ui.AddressActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.takeaway.ui.StoreActivity" />
        <activity android:name=".activity.takeaway.ui.StoreManagerActivity" />
        <activity android:name=".activity.takeaway.ui.OrderProcessingActivity" />
        <!-- 视频详情 -->
        <activity
            android:name=".activity.video.VideoDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 举报/投诉 -->
        <activity
            android:name=".activity.video.ReportActivity"
            android:screenOrientation="portrait" />
        <!-- 一对一视频/语音 -->
        <activity
            android:name=".activity.video.ChatActivity"
            android:screenOrientation="portrait" />
        <!-- 发布视频 -->
        <activity
            android:name=".activity.video.VideoPublishActivity"
            android:screenOrientation="portrait" />
        <!-- 视频浏览 -->
        <activity
            android:name=".activity.common.VideoViewActivity"
            android:screenOrientation="portrait" />
        <!-- 商家搜索列表 -->
        <activity
            android:name=".activity.video.ShopSearchListActivity"
            android:screenOrientation="portrait" />
        <!-- 地址选择 -->
        <activity
            android:name=".activity.me.AddressChooseActivity"
            android:screenOrientation="portrait" />
        <!-- 设置 -->
        <activity
            android:name=".activity.me.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 优惠券列表 -->
        <activity
            android:name=".activity.me.CouponListActivity"
            android:screenOrientation="portrait" />
        <!-- 分类 -->
        <activity
            android:name=".activity.home.ClassifyActivity"
            android:screenOrientation="portrait" />
        <!-- 首页搜索视频 -->
        <activity
            android:name=".activity.home.SearchVideoActivity"
            android:screenOrientation="portrait" />
        <!--微信支付回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="locale|layoutDirection|keyboard"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".activity.takeaway.ui.MerchantSettledFirstActivity" />
        <activity android:name=".activity.takeaway.ui.MerchantSettledSecondActivity" />
        <activity android:name=".activity.takeaway.ui.MerchantSettledThreeActivity" />
        <activity android:name=".activity.takeaway.ui.GoodManagerActivity" />
        <activity android:name=".activity.takeaway.ui.AddGoodActivity" />
        <activity android:name=".activity.takeaway.ui.SecondAdminManagerActivity" />
        <activity android:name=".activity.takeaway.ui.SecondStoreManagerActivity" />
        <activity
            android:name=".activity.takeaway.order.ConfirmOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.takeaway.ui.ShopRankActivity" />
        <activity android:name=".activity.takeaway.ui.AddCouponActivity" />
        <activity android:name=".activity.takeaway.ui.MarketingManagerActivity" />
        <activity android:name=".activity.takeaway.ui.IncomeDetailActivity" />
        <activity android:name=".activity.takeaway.order.OrderDetailActivity" />
        <activity android:name=".activity.takeaway.ui.DeliveryAddressActivity" />
        <activity
            android:name=".activity.takeaway.ui.MapAddressChooseActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.takeaway.order.OrderActivity" />

        <!--  扫描二维码 -->
        <activity
            android:name=".activity.common.ScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.takeaway.ui.ChooseCouponActivity" />
        <activity android:name=".activity.takeaway.ui.ShopGoodSearchActivity" />

        <!-- **************************************高德定位**********************************************-->
        <service android:name="com.amap.api.location.APSService" />

        <!-- **************************************极光推送**********************************************-->

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".service.MyJCommonService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- *************************************/极光推送**********************************************-->

    </application>

</manifest>