<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pai8.ke">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme, android:label">

        <activity android:name=".activity.wallet.InOutRecordActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="734" /> <!-- 高德key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ffce336496fa8d9aeac52afaac7ccefd" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.RegisterActivity"
            android:label="欢迎注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyTranslucentTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.takeaway.ui.TakeawayActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.takeaway.ui.AddressActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.takeaway.ui.StoreActivity" />
        <activity android:name=".activity.takeaway.ui.StoreManagerActivity" />
        <activity android:name=".activity.takeaway.ui.OrderProcessingActivity" /> <!-- 视频滑动 -->
        <activity
            android:name=".activity.video.tiktok.TikTokActivity"
            android:screenOrientation="portrait" /> <!-- 举报/投诉 -->
        <activity
            android:name=".activity.video.ReportActivity"
            android:screenOrientation="portrait" /> <!-- 一对一视频/语音 -->
        <activity
            android:name=".activity.video.ChatActivity"
            android:screenOrientation="portrait" /> <!-- 发布视频 -->
        <activity
            android:name=".activity.video.VideoPublishActivity"
            android:screenOrientation="portrait" /> <!-- 视频浏览 -->
        <activity
            android:name=".activity.common.VideoViewActivity"
            android:screenOrientation="portrait" /> <!-- 商家搜索列表 -->
        <activity
            android:name=".activity.video.ShopSearchListActivity"
            android:label="关联店铺"
            android:screenOrientation="portrait" /> <!-- 地址选择 -->
        <activity
            android:name=".activity.me.AddressChooseActivity"
            android:screenOrientation="portrait" /> <!-- 地图导航 -->
        <activity
            android:name=".activity.common.NaviActivity"
            android:screenOrientation="portrait" /> <!-- 设置 -->
        <activity
            android:name=".activity.me.SettingActivity"
            android:screenOrientation="portrait" /> <!-- 优惠券列表 -->
        <activity
            android:name=".activity.me.CouponListActivity"
            android:screenOrientation="portrait" /> <!-- 分类 -->
        <activity
            android:name=".activity.home.ClassifyActivity"
            android:screenOrientation="portrait" /> <!-- 首页搜索视频 -->
        <activity
            android:name=".activity.home.SearchVideoActivity"
            android:screenOrientation="portrait" /> <!-- 微信支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="locale|layoutDirection|keyboard"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".activity.takeaway.ui.MerchantSettledFirstActivity" />
        <activity android:name=".activity.takeaway.ui.MerchantSettledSecondActivity" />
        <activity android:name=".activity.takeaway.ui.MerchantSettledThreeActivity" />
        <activity
            android:name=".activity.takeaway.ui.GoodManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.takeaway.ui.AddGoodActivity"
            android:label="添加外卖商品"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.takeaway.ui.AddGroupGoodActivity" />
        <activity android:name=".activity.takeaway.ui.SecondAdminManagerActivity" />
        <activity android:name=".activity.takeaway.ui.SecondStoreManagerActivity" />
        <activity android:name=".activity.takeaway.ui.AddSecondManagerActivity" />
        <activity
            android:name=".shop.ui.ConfirmOrderActivity"
            android:label="确认订单"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.takeaway.ui.ShopRankActivity" />
        <activity android:name=".activity.takeaway.ui.AddCouponActivity" />
        <activity android:name=".activity.takeaway.ui.CouponActivity" />
        <activity android:name=".activity.takeaway.ui.IncomeDetailActivity" />
        <activity android:name=".activity.takeaway.ui.DeliveryAddressActivity" />
        <activity
            android:name=".activity.takeaway.ui.MapAddressChooseActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.takeaway.order.OrderActivity"
            android:label="订单列表"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.ScanActivity"
            android:label="扫一扫"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.takeaway.ui.ChooseCouponActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.takeaway.ui.ShopGoodSearchActivity" />
        <activity android:name=".activity.takeaway.order.OrderSendActivity" />
        <activity android:name=".activity.takeaway.order.ShopOrderDetailActivity" />
        <activity
            android:name=".activity.takeaway.ui.StoreManagerEditActivity"
            android:label="编辑店铺信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.message.ui.ActiveMessageActivity"
            android:screenOrientation="portrait" /> <!-- 一对一聊天消息 -->
        <activity
            android:name=".activity.message.ui.OneToOneChatRecordActivity"
            android:screenOrientation="portrait" /> <!-- 点赞 -->
        <activity
            android:name=".activity.message.ui.LikesActivity"
            android:screenOrientation="portrait" /> <!-- 评论 -->
        <activity
            android:name=".activity.message.ui.CommentActivity"
            android:screenOrientation="portrait" /> <!-- 订单消息 -->
        <activity
            android:name=".activity.message.ui.OrderMessageActivity"
            android:screenOrientation="portrait" /> <!-- 系统消息 -->
        <activity
            android:name=".activity.message.ui.SysMessageActivity"
            android:screenOrientation="portrait" /> <!-- 关注消息 -->
        <activity
            android:name=".activity.message.ui.AttentionActivity"
            android:screenOrientation="portrait" /> <!-- 商家申请详情修改 -->
        <activity
            android:name=".activity.takeaway.ui.ChangeDetailAddressActivity"
            android:screenOrientation="portrait" /> <!-- 我的模块关注 -->
        <activity
            android:name=".activity.me.ui.AttentionMineActivity"
            android:screenOrientation="portrait" /> <!-- 历史足迹 -->
        <activity
            android:name=".activity.me.ui.HistoryWatchActivity"
            android:screenOrientation="portrait" /> <!-- 粉丝 -->
        <activity
            android:name=".activity.me.ui.FansActivity"
            android:screenOrientation="portrait" /> <!-- 获赞 -->
        <activity
            android:name=".activity.me.ui.ReceiveLikesActivity"
            android:screenOrientation="portrait" /> <!-- 个人信息编辑 -->
        <activity
            android:name=".activity.me.ui.EditPersonalInfoActivity"
            android:screenOrientation="portrait" /> <!-- 关于 -->
        <activity
            android:name=".activity.me.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exception.CustomErrorActivity"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity> <!-- 通用webview -->
        <activity
            android:name=".activity.common.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.takeaway.order.OrderConfirmActivity"
            android:label="订单确认"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.wallet.InOutDetailActivity" />
        <activity android:name=".activity.wallet.WalletActivity" />
        <activity android:name=".activity.wallet.OutRecordActivity" />
        <activity android:name=".activity.takeaway.ui.MarketingManagerActivity" />
        <activity android:name=".activity.takeaway.ui.MarketingRebateActivity" />
        <activity android:name=".activity.takeaway.ui.MarketingGiftActivity" />

        <activity
            android:name=".groupBuy.ui.GroupBuyMainActivity"
            android:label="团购"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.ui.ShopProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.ui.BusinessHomeActivity"
            android:label="商家首页"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.takeaway.order.OrderDetailActivity"
            android:label="订单详情"
            android:screenOrientation="portrait" />

        <activity
            android:name=".shop.ui.CommentActivity"
            android:label="评价"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".shop.ui.LookCommentActivity"
            android:label="评价"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.takeaway.ui.ScanItActivity"
            android:label="二维码"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.takeaway.ui.QRCodeHandleActivity"
            android:label="扫一扫"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.takeaway.ui.WriteOffErrorActivity"
            android:label="团队核对结果"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.takeaway.order.WriteOffOrderDetailActivity"
            android:label="核销"
            android:screenOrientation="portrait" />

        <provider
            android:name=".utils.MyProvider"
            android:authorities="${applicationId}.util.MyProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".manager.UpdateAppManager" /> <!-- **************************************高德定位********************************************** -->
        <service android:name="com.amap.api.location.APSService" /> <!-- **************************************极光推送********************************************** -->
        <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".service.MyJCommonService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>